body {
    /*this makes the body the same height as the viewport*/
    min-height: 100vh;
    display: flex;
    /*this sticks the footer to the bottom*/
    flex-direction: column;
    flex: 1;
    
}

/*style for section 1 and header*/
.one {
    background: #1F2937;
    height: 350px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    color: #f9faf8;
    
}

.intro {
    display: flex;
    justify-content: space-evenly;
    margin-top: 24px;
    gap: 120px;
}

.main-info {
    max-width: 350px;
    font-size: 18px;
    color: #e5e7eb;
    flex-shrink: 0;
}

.title-one {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.placeholder {
    background: #94979e;
    color:#e5e7eb;
    width: 380px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882f6;
    padding: 8px 16px;
    border: 1px solid #3882f6;
    border-radius: 8px;
    margin-top: 8px;
    color: #e5e7eb;
    font-weight: 800;
    width: 120px;
}

/*style for section 2*/

.two {
    text-align: center;
    height: 350px;
    margin-bottom: 16px;
}

.title-two {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 24px 0;
}

.images {
    display: flex;
    justify-content: center;
    gap: 60px;
}

img {
    border: 3px solid #3882f6;
    border-radius: 10px;
    width: 200px;
    height: 200px;
}

.info {
    max-width: 200px;
}

/*style for section 3*/

.three {
    background: #e5e7eb;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;

}

.container {
   width: 750px;
}

.author {
   text-align: right;
   font-weight: 800;

}
/*style for section 4*/
.four {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    font-size: 16px;
    color: #e5e7eb;

}

.modal {
    background: #3882f6;
    display: flex;
    padding: 32px;
    border-radius: 10px;
    width: 800px;
}

.title-four {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: 6px;
}


button.cta {
    border: 1px solid white;
}

/*footer*/

.footer {
    display: flex;
    justify-content: center;
    background: #1F2937;
    color: #f9faf8;
    padding: 48px;
}


/*header links*/
ul {
    display: flex;
    /*this removes the dots on the list items*/
    list-style-type: none;
    gap: 16px;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    /*this removes the line under the links*/
    text-decoration: none;

}