section {
    background-color: #1F2937;
    height: 350px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    color: #f9faf8;
    
}

.intro {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-top: 24px;
    gap: 50px;
}

.main-info {
    max-width: 350px;
    font-size: 18px;
    color: #e5e7eb;
}

.title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.placeholder {
    background: #aaa;
    color:#e5e7eb;
    width: 380px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882f6;
    padding: 8px 16px;
    border: 1px solid #3882f6;
    border-radius: 8px;
    margin-top: 8px;
    color: #e5e7eb;
    font-weight: 800;
    width: 120px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;

}